^{:watch-dirs ["src" "env/dev"]
  :css-dirs ["resources/public/css"]}
{:main soul-talk.app
 :target :bundle
 ;:output-dir "out/dev/"
 :bundle-cmd {:none ["yarn.cmd" "webpack" "--mode=development" :output-to "-o" :final-output-to]}
 :aot-cache false
 :clean-outputs true
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads [day8.re-frame-10x.preload devtools.preload]
 }