^{:watch-dirs ["src-cljc" "src" "env/dev"]
  :css-dirs ["resources/public/css"]}
{:main soul-talk.app
 :target :bundle
 :bundle-cmd {:none ["npx.cmd" "webpack" "--mode=development"]}
 :aot-cache false
 :clean-outputs true
 }