^{:hot-reload-cljs false
  :figwheel-core false}
{:main            soul-talk.app
 :npm             {:bundles {"dist/index.bundle.js" "src-js/index.js"}}
 :output-to       "target/public/cljs/app.js"
 :output-dir      "target/public/cljs/"
 :npm-deps        false
 :infer-externs   true
 :optimizations   :advanced
 :pseudo-names    true
 :pretty-print    true
 :closure-defines {"goog.DEBUG"       false
                   cljs.core/*global* "window"
                   "soul_talk.db.api_uri" "https://jiesoul.com/api/v1"}
 :foreign-libs    [{:file           "dist/index.bundle.js"
                    :provides       ["react" "react-dom" "showdown" "hljs" "SimpleMDE"]
                    :global-exports {react     React
                                     react-dom ReactDOM
                                     hljs      hljs
                                     showdown  showdown
                                     SimpleMDE SimpleMDE
                                     api-uri   "https://jiesoul.com/api/v1"}}]}
