{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/core.async {:mvn/version "0.4.474"}
  org.clojure/java.jdbc {:mvn/version "0.7.8"}
  org.clojure/tools.cli {:mvn/version "0.3.5"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  ring {:mvn/version "1.7.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  metosin/ring-http-response {:mvn/version "0.9.1"}
  metosin/muuntaja {:mvn/version "0.6.4"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  compojure {:mvn/version "1.6.1"}
  metosin/compojure-api {:mvn/version "2.0.0-alpha30"}
  expound {:mvn/version "0.7.2"}
  hikari-cp {:mvn/version "2.7.1"}
  ragtime {:mvn/version "0.8.0"}
  mount {:mvn/version "0.1.16"}
  tolitius/mount-up {:mvn/version "0.1.2"}
  bouncer {:mvn/version "1.0.1"}
  buddy {:mvn/version "2.0.0"}
  clojure.java-time {:mvn/version "0.3.2"}
  cheshire {:mvn/version "5.8.1"}
  org.postgresql/postgresql {:mvn/version "42.2.5"}}

 :paths ["src/clj" "src/cljc" "resources"]

 :aliases {:dev {:extra-paths ["env/dev/clj" "env/dev/resources"]}
           :test {:extra-paths ["test"]}
           :prod {:extra-paths ["env/prod/clj" "env/prod/resources"]}
           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.1"}}}}}