# Created by .ignore support plugin (hsz.mobi)
dist
.cpcache/
.idea/
.history/
out
target
.rebel_readline_history
.nrepl-port
node_modules/
soul-talk-home.iml
yarn*
.calva/
resources/public/js/
home.iml
