{% extends "base.html" %}
{% block page-title %}Soul Talk Login {% endblock %}
{% block page-css %}
<link rel="stylesheet" href="/css/login.css">>
{% endblock %}
{% block content %}
<div class="container text-center">
    <form action="form-signin">
        <img src="" alt="" class="mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="email" class="sr-only">Email Address</label>
        <input type="text" id="email" class="form-control" placeholder="Email Address" required autofocus/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required />
        <div class="check-box mb-3">
            <label>
                <input type="checkbox" value="Remember me">记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p class="mt-5 mb-3 text-muted">&copy: 2018</p>
    </form>
</div>
{% endblock %}
