/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea
.cpcache/
soul-talk.iml
.nrepl-port
out/
log/
/.history
dist
.cpcache/
.idea/
out
target
.rebel_readline_history
node_modules/
package-lock.json
yarn.lock
.lein*