# IDE TEXTEDITOR
.idea/
*.log
.cpcache/
.nrepl-port
out/
.calva/
.history
.lsp/

# leiningen project
/target
/classes
pom.xml
pom.xml.asc
*.jar
*.class
.lein*
/.lein-*
/.nrepl-port
soul-talk.iml
log/
/env/prod/
./env/prod/resources/config.edn
