^{:watch-dirs ["src" "env/dev"]
  :css-dirs ["resources/public/css"]}
{:main            soul-talk.app
 :output-dir      "resources/public/js"
 :target          :bundle
 ;; 使用类 nix 系统请直接用 yarn
 :bundle-cmd      {:none ["yarn" "webpack" "--mode=development" :output-to
                          "--output-path" :final-output-dir
                          "--output-filename" :final-output-filename]}

 :closure-defines {soul-talk.db/api-url "http://localhost:3000"}
 :preloads        [re-frisk.preload devtools.preload]
 }