^{:hot-reload-cljs false
  :figwheel-core false}
{:main            soul-talk.app
 :target          :bundle
 :output-dir      "js"
 ;; 使用类 nix 系统请直接用 yarn
 :bundle-cmd      {:default ["yarn" "webpack" "--mode=production" :output-to
                             "--output-path" :final-output-dir
                             "--output-filename" :final-output-filename]}
 :aot-cache       false
 :clean-outputs   true
 :optimizations   :simple
 :closure-defines {"goog.DEBUG"       false
                   cljs.core/*global* "window"
                   soul-talk.db/api-url "https://api.jiesoul.com"}
 }
