# IDE TEXTEDITOR
.idea/
*.log
.cpcache/
.nrepl-port
out/
.calva/
.history
.lsp/
.clj-kondo/

# leiningen project
/target
/classes
pom.xml
pom.xml.asc
*.jar
*.class
.lein*
/.lein-*
/.nrepl-port
soul-talk-api.iml
log/
